@font-face{
	font-family: 'Poppins';
	src: url(../font/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
	font-weight: 300;
}
@font-face{
	font-family: 'Poppins';
	src: url(../font/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	font-weight: 400;
}
@font-face{
	font-family: 'Poppins';
	src: url(../font/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
	font-weight: 500;
}
@font-face{
	font-family: 'Poppins';
	src: url(../font/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
	font-weight: 700;
}
@font-face{
	font-family: 'orelo-wide';
	src: url(../font/orelo-widedemibold-webfont.woff2) format('woff2');
}
@font-face{
	font-family: 'orelo-demibold';
	src: url(../font/orelo-semicondenseddemibold-webfont.woff2) format('woff2');
}
@font-face{
	font-family: 'orelo-bold';
	src: url(../font/orelo-semicondensedbold-webfont.woff2) format('woff2');
}